/* MAIN */

main {
  margin: 1vh 10vw 1vh 10vw;
}
.cart-page-header-conatiner {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.cart-page-header-conatiner p {
  justify-self: end;
  align-self: center;
  font-size: larger;
  font-weight: bold;
}

#cart-page-container {
  display: grid;
  grid-template-rows: auto;
  row-gap: 1.5vh;
}

.cart-page-information-conatiner {
  display: grid;
  grid-template-columns: min-content 1fr min-content;
  height: min-content;
}

.cart-product-image {
  width: 10vw;
  min-width: 56px;
  max-width: 5vw;
}

.cart-page-name-amount-container {
  display: grid;
  margin: 0 0 0 1vw;
  height: min-content;
}

.cart-page-name-amount-container div {
  margin: 1vh 0 1vh 0;
}

.cart-product-name {
  margin: 0 0 0 0;
}

.cart-product-negative-button {
  text-align: center;
  cursor: pointer;
  color: #f2e3ce;
  background-color: #f05a28;
  border: 0;
  width: 1rem;
  padding: 0.2vh 0.4vw;
  border-radius: 3px;
}

.cart-product-amount {
  text-align: center;
  width: 1rem;
}

.cart-product-posetive-button {
  text-align: center;
  cursor: pointer;
  color: #f2e3ce;
  background-color: #f05a28;
  border: 0;
  width: 1rem;
  border-radius: 3px;
}

.cart-product-price {
  font-size: larger;
  font-weight: bolder;
}

.cart-buy-button {
  margin: 4vh auto 2vh 0;
  padding: 1vh 1vw;
  font-size: 2rem;
  color: #f2e3ce;
  background-color: #f05a28;
  border: 0;
  border-radius: 10px;
  cursor: pointer;
}

#cart-total-price {
  font-size: larger;
  font-weight: bolder;
}

/* MEDIA QUERIES */

/* MEDIUM */
@media screen and (max-width: 1124px) {
  main {
    margin: 1vh 5vw 1vh 5vw;
  }
}

/* SMALL */
@media screen and (max-width: 800px) {
  .cart-product-name {
    margin: 0 19vw 0 0;
    text-wrap-mode: wrap;
  }
}
