/* MAIN */

main {
  margin: 1vh 10vw 1vh 10vw;
}
.cart-page-header-conatiner {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.cart-page-header-conatiner p {
  justify-self: end;
  align-self: center;
  font-size: larger;
  font-weight: bold;
}

.cart-page-container {
  display: grid;
  grid-template-rows: auto;
  row-gap: 1.5vh;
}

.cart-page-information-conatiner {
  display: grid;
  grid-template-columns: min-content 1fr min-content;
  height: min-content;
}

.cart-product-image {
  width: 10vw;
  min-width: 56px;
  max-width: 5vw;
}

.cart-page-name-amount-container {
  display: grid;
  margin: 0 0 0 1vw;
  height: min-content;
}

.cart-page-name-amount-container div {
  margin: 1vh 0 1vh 0;
}

.cart-product-name {
  margin: 0 0 0 0;
}

.cart-product-negative-button {
  text-align: center;
}

.cart-product-amount {
  text-align: center;
  width: 2vw;
}

.cart-product-posetive-button {
  text-align: center;
}

.cart-product-price {
  font-size: larger;
  font-weight: bolder;
}

.cart-buy-button {
  margin: 2vh 0 2vh auto;
  font-size: larger;
}

#cart-total-price {
  justify-self: end;
  font-size: larger;
  font-weight: bolder;
}

/* MEDIA QUERIES */

/* PHONE */
@media screen and (max-width: 800px) {
  .cart-product-name {
    margin: 0 19vw 0 0;
    text-wrap-mode: wrap;
  }
}
