/*Global css*/

body {
  display: grid;
  grid-template-areas:
    "header header header header"
    "main main main sidebar"
    "footer footer footer footer";
  margin: 0;

  /* Stick the footer to the bottom of the page */
  grid-template-rows: auto 1fr auto;
  height: 100vh;
}

/* Global text styling */

a {
  list-style: none;
  text-decoration: none;
}

/* HEADER */

header {
  grid-area: header;
}

.navigation-bar {
  background-color: #1d1326;
}

.navigation-bar ul {
  margin: 0;
  display: flex;
}

.navigation-bar a {
  color: #f2e3ce;
  margin-left: 2rem;
  padding: 1rem 2rem;
}

.navigation-bar a:hover {
  background-color: #000000;
}

/* MAIN */
main {
  grid-area: main;
  margin: 1rem;
}

/* FOOTER */
footer {
  grid-area: footer;
  background-color: #1d1326;
  padding: 2vh 2vh 2vh 2vh;
}

footer p {
  color: #8d969e;
}

.opening-hours {
  color: #f2e3ce;
  padding-bottom: 1rem;
}
