/*Global css*/

body {
  margin: 0;
}

/* Global text styling */

a {
  list-style: none;
  text-decoration: none;
}


/* HEADER */

.navigation-bar {
  background-color: #1d1326;
}

.navigation-bar ul {
  margin: 0;
}

.navigation-bar a {
  color: #f2e3ce;
  margin-left: 2rem;
  padding: 1rem 2rem;
  display: inline-block;
}

.navigation-bar a:hover {
  background-color: #000000;
}

/* MAIN */
main {
  margin: 1rem;
}

/* FOOTER */
footer {
  background-color: #1d1326;
  padding: 15px;
}

footer p {
  color: #8d969e;
}

.opening-hours {
  color: #f2e3ce;
  padding-bottom: 1rem;
}
