/*Global css*/

body {
  display: grid;
  grid-template-areas:
    "header header header header"
    "main main main main"
    "footer footer footer footer";
  margin: 0;

  /* Stick the footer to the bottom of the page */
  grid-template-rows: auto 1fr auto;
  min-height: 100vh;
}

/* Global text styling */

a {
  list-style: none;
  text-decoration: none;
}

/* ----HEADER---- */

header {
  grid-area: header;
  position: sticky;
  top: 0;
  z-index: 100;
}

.navigation-bar {
  background-color: #121212;
  padding: 4px 2.06vw 4px 5vw;
}

.navigation-bar ul {
  display: flex;
  padding-left: 1vw;
}

.navigation-bar a {
  /* Makes the border around the buttons */
  color: #f2e3ce;
  padding: 1rem 2rem;
}

.navigation-bar a:hover {
  background-color: #000000;
}

#cart {
  /* make the cart move to the right */
  margin-left: auto;
  margin-right: 1vw;
  border-radius: 100px;
  background-color: #f05a28;
  transition: 1s;
}

#cart:hover {
  transition: 1s;
  background-color: #cd5730;
}

/* ----MAIN----- */
main {
  grid-area: main;
  margin: 0 1vw 0 1vw;
}

/* MAIN Product */
.product-grid {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(auto-fit, minmax(235px, 1fr));
  grid-template-rows: repeat(2, 1fr);
  row-gap: 3vh;
  column-gap: 1.25vw;
  margin: 0 3vw 1vh 3vw;
}
.product {
  display: grid;
  justify-content: center;
  grid-template-rows: repeat(4, auto);
  border-radius: 20px;
  border: 1px solid #121212;
}

/* MAIN Product Container */

.favorite-icon {
  grid-area: 1/1;
  z-index: 3;
  width: 14%;
  justify-self: end;
  margin: 4%;
}

.product-image {
  grid-area: 1/1;
  justify-self: center;
  margin: 1.5vh 0 1vh 0;
}

.product-name {
  margin: 0 0 0 0.5vw;
}
.product-publisher {
  margin: 0 0 0 0.5vw;
}
.product-price {
  margin: 2vh 0 2vh 0.5vw;
}

/* ----FOOTER---- */
footer {
  grid-area: footer;
  background-color: #121212;
  padding: 2vh 2vh 2vh 2vh;
}

footer p {
  color: #8d969e;
  margin: 0 0 2vh 3vw;
}

.opening-hours {
  color: #f2e3ce;
  margin: 0 0 2vh 3vw;
}
