/*Global css*/

body {
  display: grid;
  grid-template-areas:
    "header header header header"
    "main main main main"
    "footer footer footer footer";
  margin: 0;

  /* Stick the footer to the bottom of the page */
  grid-template-rows: auto 1fr auto;
  min-height: 100vh;
}

/* Global text styling */

a {
  list-style: none;
  text-decoration: none;
  color: #121212;
}
/* ----HEADER---- */

header {
  grid-row: 2;
  grid-area: header;
  position: sticky;
  top: 0;
  z-index: 100;
}

.navigation-bar {
  display: grid;
  background-color: #121212;
  padding: 2vh 5vw 0.5vh 5vw;
}

.navigation-bar ul {
  display: flex;
  padding-left: 1vw;
}

.navigation-bar a {
  /* Makes the border around the buttons */
  color: #f2e3ce;
  padding: 1rem 2rem;
}

.navigation-bar a:hover {
  background-color: #000000;
}

.search-bar-container {
  display: grid;
  align-items: center;
  margin: 0 1vw 0 1vw;
}

#search {
  grid-area: 1/1;
  width: 100%;
  padding-left: 1.2rem;
  margin: 2vh 0 2vh 0;
  height: 2.5rem;
  border-radius: 100px;
}

#search:focus {
  outline: 2px solid #f05a28;
}

#search-button {
  grid-area: 1/1;
  color: #f2e3ce;
  background-color: #f05a28;
  border: 0;
  height: 2.5rem;
  padding: 0 1rem 0 1rem;
  border-radius: 100px;
  cursor: pointer;
  justify-self: end;
  transition: 1s;
}

#search-button:hover {
  background-color: #cd5730;
  transition: 1s;
}

#cart {
  /* make the cart move to the right */
  margin-left: auto;
  margin-right: 1vw;
  border-radius: 100px;
  background-color: #f05a28;
  transition: 1s;
}

#cart:hover {
  transition: 1s;
  background-color: #cd5730;
}

/* ----MAIN----- */
main {
  grid-area: main;
}

main h2 {
  margin: 5vh 1vw 2vh 1vw;
}

/* MAIN hero */
.hero-image {
  width: 100%;
}

/* MAIN Product */
.product-grid {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(auto-fit, minmax(275px, 290px));
  row-gap: 3vh;
  column-gap: 1.25vw;
  margin: 0 3vw 3vh 3vw;
}
.product {
  display: grid;
  justify-content: center;
  grid-template-rows: repeat(4, auto);
  border-radius: 20px;
  border: 1px solid #121212;
  transition: 1s;
  padding: 0 6%;
}

.product:hover {
  background-color: #f4f4f4;
  transition: 1s;
}

/* MAIN Product Container */

.favorite-icon {
  grid-area: 1/1;
  z-index: 3;
  width: 15%;
  justify-self: end;
  margin-top: 1.5vh;
}

.product-image {
  grid-area: 1/1;
  justify-self: center;
  width: 100%;
  margin: 1.5vh 0 1vh 0;
}

.product-name {
  margin: 0 0 0 0.5vw;
}
.product-publisher {
  margin: 0 0 0 0.5vw;
}
.product-price {
  margin: 2vh 0 2vh 0.5vw;
  font-size: large;
}

/* ----FOOTER---- */
footer {
  grid-area: footer;
  background-color: #121212;
  padding: 2vh 2vh 2vh 2vh;
}

/* This one below is keeping track of the grid in the footer */
.footer-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(275px, 290px));
  column-gap: 2vw;
  row-gap: 2vh;
}

.footer-title {
  background-color: #f05a28;
  color: #f4f4f4;
  margin: 0 0 1vh 0;
  padding: 0 0 0.5vh 1vw;
}

footer p {
  color: #8d969e;
}

.footer-list p {
  color: #f2e3ce;
  list-style: none;
  margin: 0 0 1vh 1vw;
}

address p {
  color: #f2e3ce;
  font-style: normal;
  margin: 0 0 1vh 1vw;
}

.footer-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

/* MEDIA QUERIES */

/* MEDIUM */
@media screen and (max-width: 1288px) {
  .product-grid {
    grid-template-columns: repeat(4, 1fr);
  }
}

/* PHONE */
@media screen and (max-width: 800px) {
  .product-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}
