/*Global css*/

body {
  display: grid;
  grid-template-areas:
    "header header header header"
    "main main main sidebar"
    "footer footer footer footer";
  margin: 0;

  /* Stick the footer to the bottom of the page */
  grid-template-rows: auto 1fr auto;
  height: 100vh;
}

/* Global text styling */

a {
  list-style: none;
  text-decoration: none;
}

/* HEADER */

header {
  grid-area: header;
}

.navigation-bar {
  background-color: #1d1326;
  padding: 4px 1px 4px 1px;
}

.navigation-bar ul {
  display: flex;
  flex-wrap: wrap;
  padding-left: 1vw;
}

.navigation-bar a {
  /* Makes the border around the buttons */
  color: #f2e3ce;
  padding: 1rem 2rem;
}

.navigation-bar a:hover {
  background-color: #000000;
}

#cart {
  /* make the cart move to the right */
  margin-left: auto;
  margin-right: 1vw;
  border-radius: 100px;
  background-color: rgb(246, 173, 3);
}

#cart:hover {
  background-color: rgb(255, 179, 0);
}

/* MAIN */
main {
  grid-area: main;
  margin: 1rem;
}

/* FOOTER */
footer {
  grid-area: footer;
  background-color: #1d1326;
  padding: 2vh 2vh 2vh 2vh;
}

footer p {
  color: #8d969e;
}

.opening-hours {
  color: #f2e3ce;
  padding-bottom: 1rem;
}
