/* MAIN */

.product-page-information-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin: 3vh 1vw 0 0;
}

.product-page-secound-information-container {
  display: grid;
  grid-auto-rows: min-content;
  margin: 0 1vw 0 1vw;
}
.product-page-secound-information-container hr {
  width: 100%;
}
.product-page-image {
  width: 70%;
  justify-self: center;
  margin: 1.5vh 0 1.5vh 0;
}

.product-page-header {
  font-weight: bold;
  margin: 0;
}

.product-page-price {
  font-size: 1.5rem;
  font-weight: bold;
}

#product-page-add-to-cart-button {
  font-size: 1.5rem;
  justify-self: center;
  margin: 0 0 2vh 0;
  padding: 1rem;
}

.product-page-description {
  font-size: medium;
  margin: 1vh 0 1vh 0;
}

/* MEDIA QUERIES */

/* MEDIUM */
@media screen and (max-width: 1288px) {
  .product-page-product-grid {
    grid-template-columns: repeat(4, 1fr);
  }
}

/* PHONE */
@media screen and (max-width: 800px) {
  .product-page-information-container {
    grid-template-columns: 1fr;
  }
  .product-page-product-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}
