/* MAIN */
.product-page-information-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin: 3vh 1vw 0 0;
}

.product-page-image {
  width: 70%;
  justify-self: center;
  margin: 1.5vh 0 1.5vh 0;
}

.product-page-header {
  margin: 1vh 0 0 0;
}

.product-page-price {
  font-size: 1.5rem;
  margin: 1vh 0 1vh 0;
}

.product-page-button {
  font-size: 1.5rem;
  margin: 2vh 0 1vh 0;
}

.product-page-description {
  font-size: medium;
}

.product-page-product-grid {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(auto-fit, minmax(275px, 290px));
  row-gap: 3vh;
  column-gap: 1.25vw;
  margin-bottom: 3vh;
}
